.calculator {
    width: 300px;
    margin: 5px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    width:30px;
    height: 30px;
    font-size: 20px;
    margin:  5px;
}
